.contenedor-detalle{
    background: #F9F9F9;
    border-radius: 20px 20px 0 0;
    position: relative;
    margin-left: -6%;
    margin-right: -6%;
    margin-bottom: -11%;
}
.contenedor-detalle img.pokemon{
    width: 100%;
}
.contenedor-detalle .d-table .cell .info p{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    line-height: 1;
}
.contenedor-detalle .d-table .cell .info{
    margin-bottom: 6px;
}
.contenedor-detalle .d-table .cell .info img{
    width: 28%;
} 
.contenedor-detalle .d-table .cell .info span, .debilidades span{
    font-size: 13px;
    color: #AAAAAA;
    text-transform: uppercase;
}
.contenedor-detalle .d-table .cell .info span, .debilidades span{
    padding-right: 5px;
    padding-left: 5px;
}
.contenedor-detalle .d-table .cell .info.tipos span{
    border-right: 1px #AAAAAA solid;
}
.contenedor-detalle .d-table .cell .info.tipos span:last-child{
    border-right: none;
}
.contenedor-detalle .d-table{
    display: table;
    height: 100%;
    width: 100%;
}
.contenedor-detalle .d-table .cell{
    display: table-cell;
    vertical-align: middle;
}
.contenedor-detalle .d-table .cell .border-left{
    border-left: 1px solid #AAAAAA !important;
}
.descripcion{
    line-height: 1;
    text-align: center;
    font-size: .9em;
    color: #616161;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    padding: 11px;
}
.caracteristicas p:nth-child(2n-1){
    font-weight: 600;
    margin-bottom: 0;
    font-size: 15px;
    color: #616161;
    text-align: right;
}
.caracteristicas{
    border-right: 1px solid #AAAAAA;
}

.debilidades, .categoria, .habilidades{
    margin-bottom: 20px;
}
.icono_regresar{
    position: relative;
    top: -7px;
    font-size: 1.5em;
    color: #000000
}
.debilidades img{
    width: 100%;
}
.debilidades{
    text-align: center
}
.debilidades span{
    font-size: 10px;
    text-transform: capitalize;
}
.debilidades p, .categoria p, .habilidades p{
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
    color: #616161;
}
p.name{
    margin-bottom: 0;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 8px;
}
.name img{
    width: 10%;
}
.habilidades span{
    display: block;
    color: #484848;
    line-height: 1;
}
.evoluciones{
    color: #aaaaaa;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 4px;
    padding-bottom: 8px;
    text-align: left;
    font-weight: 600;
}
@media(min-width: 768px){
    p.name{
        font-size: 3em;
    }
}