<a [routerLink]="['/']" class="icono_regresar"><i class="fas fa-arrow-left icono_regresar"></i></a>
<p class="name" *ngIf="show">{{pokemon.name}} 
  <img *ngFor="let genre of genre" src="/assets/{{genre}}.png" alt="{{genre}}">
</p>
<div class="contenedor-detalle" *ngIf="show">
  <div class="container text-center">
    <div class="row">
      <div class="col-7">
          <img [src]="pokemon.sprites.front_default" alt="" class="pokemon">
      </div>
      <div class="col-5">
        <div class="d-table">
        <div class="cell">
          <div class="border-left">
              <div class="info">
                <p>{{pokemon.weight}}kg</p>
                <span>Peso</span>
              </div>
              <div class="info">
                <p>{{pokemon.height}}m</p>
                <span>Altura</span>
              </div>
              <div class="info tipos">
                <img *ngFor="let tipo of pokemon.types" src="/assets/{{tipo.type.name}}.png" alt="Grass">
                <br>
                <span *ngFor="let tipo of pokemon.types">{{tipo.type.name}}</span>
              </div>
          </div>
          
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="descripcion" >
          {{descripcion}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 caracteristicas">
        <div *ngFor="let state of pokemon.stats">
            <p>{{state.stat.name}}</p>
            <p><ngb-progressbar type="info" [value]="state.base_stat"></ngb-progressbar></p>
        </div>
      </div>
      <div class="col-6">
        <div class="debilidades">
          <p>Debilidades</p>
          <div class="row justify-content-md-center">
            <div class="col-4" *ngFor="let type of weakness">
              <img src="/assets/{{type}}.png" alt="{{type}}">
              <span>{{type}}</span>
            </div>
          </div>
        </div>
        <div class="categoria">
          <p>Categoria</p>
          <span>{{categoria}}</span>
        </div>
        <div class="habilidades">
            <p>Habilidades</p>
            <span *ngFor="let ability of abilities">{{ability.ability.name}}</span>
        </div>
      </div>
    </div>
    <p class="evoluciones">Evoluciones</p>
    <div class="row">
      <div class="col-4" *ngFor="let evolution of datosEvolucion">
        <img [src]="evolution.img" alt="{{evolution.name}}">
        <p>{{evolution.name}}</p>
      </div>
    </div>
  </div>
</div>
<div class="sabias_que" *ngIf="!show">
  <div class="contenedor_sabias">
    <div class="contenido_sabias">
        <p>¿Sabías qué?</p>
        <p>La palabra pokémon es la contracción de pocket monsters, o sea, monstruos de bolsillo en inglés</p>
        <p><ngb-progressbar type="info" [value]="100">Cargando...</ngb-progressbar></p>
    </div>
  </div>
</div>
