<div class="bienvenida">
    <h2><span>Bienvenido</span> {{currentUser.username}} <i class="fas fa-power-off" (click)="logout()"></i></h2>
</div>

<nav class="container">
    <div class="row">
        <div class="col-6">
            <a class="nav-item nav-link" routerLink="/">Todos los pokemons</a>
        </div>
        <div class="col-6">
            <a class="nav-item nav-link" routerLink="/favoritos">Mis pokemons</a>
        </div>
    </div>
</nav>
<div class="ng-autocomplete">
  <i class="fas fa-search"></i>
  <ng-autocomplete 
  placeholder="Buscar un pokemon"
  [data]="nombres"
  [searchKeyword]="keyword"
  [itemTemplate]="itemTemplate"
  [notFoundTemplate]="notFoundTemplate"
  [(ngModel)]='data'>                                 
  </ng-autocomplete>
   
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
  </ng-template>
   
  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
<div class="select">
  <div class="container  mg-t">
    <div class="row">
      <div class="col-6">
        <p>Ordenar por:</p>
      </div>
      <div class="col-6">
          <select name="ordenar" [(ngModel)]='type' (change)="filtrar(type)">
            <option value="">Nombre</option>
            <option value="tipo">Tipo</option>
          </select>
      </div>
    </div>
  </div>
  <div class="container mg-t" *ngIf="active">
    <div class="row">
      <div class="col-6">
        <p>Escoge un tipo</p>
      </div>
      <div class="col-6">
          <select name="tipo" id="" [(ngModel)]='type'>
            <option value="" selected>Todos</option>
            <option *ngFor='let tipo of types' value="{{tipo.name}}">{{tipo.name}}</option>
          </select>
      </div>
    </div>
  </div>
</div>
<div  infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="onScroll()"
[scrollWindow]="true">
  <div class="container">
    <div class="row">
      <div class="col-4 contenedor-pokedex" *ngFor="let pokemon of pokemones | name: data | type: type" >
          <div class="pokebola">
            <a [routerLink]="['/pokemon', pokemon.id]">
                <img *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}">
                <img *ngIf="!pokemon.sprites.front_default" src="/assets/sin_imagen.png" alt="{{pokemon.name}}">
                <p>{{pokemon.name}}</p>
            </a >
              
              <div class="container">
                  <div class="row">
                      <div class="col-7">
                          <img *ngFor="let type of pokemon.types" src="/assets/{{type.type.name}}.png" alt="">  
                      </div>
                      <div class="col-5">
                        <i class="fas fa-heart" [ngClass]="{'color-red':pokemon.favorite}" (click)="update(pokemon)"></i>
                      </div>
                    </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
    
