<div class="contenedor">
  <div class="table">
    <div class="vertical">
      <div class="formulario">
        <img src="/assets/rayo.png" alt="Rayo de pikachu" class="rayo_derecha">
        <img src="/assets/rayo.png" alt="Rayo de pikachu" class="rayo_izquierda">
        <img src="/assets/logo.png" alt="Logo de pokemon">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <input type="text" formControlName="firstName" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalidfeedback">
                    <div *ngIf="f.firstName.errors.required">First name is required</div>
                </div>
                <input type="text" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalidfeedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
                <input type="text" formControlName="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalidfeedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
                <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalidfeedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">Registrarse</button>
                <p><a routerLink="/login" class="btn btn-link">Cancel</a></p>
          </form>
      </div>
    </div>
  </div>
</div>